/* * {
    border: red 2px solid;
} */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    font-family: Roboto,Tahoma,sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    padding: 16px 100px;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}